.search-block {
    text-align: center;
    position: relative;
}

.input-block {
    display: flex;
    padding: 10px;
    position: relative;
    height: 50px;
}

.input-button {
    cursor: pointer;
    color: darkslategray;
    font-family: monospace, sans-serif;
    @include font($size: 1.6rem, $weight: bold);
    &:hover {
        background: $color-main;
        border: 2px solid $color-main;
    }
}

.icon-search {
    background: url('../assets/img/search-icon.png');
    width: 22px;
    height: 22px;
    background-size: 100%;
    position: absolute;
    top: 3px;
    left: 6px;
}

.input-search {
    width: 100%;
    padding-left: 30px;
    @include font($size: 1.8rem, $weight: normal);
    background: url('../assets/img/search-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 6px;
    border: 1px solid #c5bbbb;
    border-right: 0;
}

.not-finded {
    color: darkslategray;
    padding: 0 10px;
}

.notification {
    height: 42px;
    padding: 0 10px;
}
